
.menu-ods-widget .ui.secondary.pointing.menu .header.item {
  font-size: 3em;
  padding-top: 0.3rem;
  padding-bottom: 0.6rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  color: #444!important;
}
